
@media(max-width:1024px){
*{  box-sizing: border-box;
    border: 0;
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
background-color: rgb(176, 220, 250);

}

header{
    height: 10vw;
    background-color: rgb(0, 65, 206);
}
#brasao_h{
    background-image: url("/imagens/logo.png");
    background-size: cover;
    height: 20vw;
    width: 20vw;
    margin-left: 5%;

}
nav{
    height: 20vw;
    background-color: rgb(5, 149, 233);
    position: relative;
    
}
#nome{
    color: white;
    width: 40%;
    margin-top: -12vw;
    margin-bottom: 7vw;
    margin-left: 37vw;
    display: block;
    text-transform: uppercase;
}
ul{
    display:block;
    flex-flow:column;
    width: 100%;
    background-color: rgb(5, 149, 233);
    display: none;
    z-index: 9999;
    
}
nav ul li a{
    color: white;
    text-decoration: none;
    padding: 5vw;
    margin-left: 28vw;
    
}
#btn-menu{
    float: right;
    margin-top: -20vw;
    margin-right: 2vw;
    color: rgb(56, 53, 53);
    font-size: 16vw;
}

.cont{
margin-bottom: 3vw;
display: flex;
margin-right: 5vw;
margin-left: 5vw;
}
#search_bar{
    background-color: ice;
    border-radius: 20px;
    width: 80%;
    margin-top: 10vw;
    margin-left: 8%;
    height: 8vw;
    border: solid black 1px;
}
#search_bar2{
    background-color: ice;
    border-radius: 20px;
    width: 80%;
    margin-top: 10vw;
    margin-left: 8%;
    height: 8vw;
    border: solid black 1px;
}
#search-btn{
    font-size: 6vw;
    background: none;
}
#pes{
    padding-bottom: 5vw;
}
h3{margin-top: 20vw; margin-left: 5vw;}
main{   
    margin-top: 10vw;
    background-color: white;
    width: 90%;
    margin-left: 5%;
    border-radius: 20px;
}
main p{
    color: black; 
    width: 90%;
    text-align: justify;
    padding: 5%;
    margin-left: 5%;
}

footer{
    position: fixed;
    background-color: white;
    right: 0;
    bottom: 0;
    z-index: 99999;
}
#links_laterais{
    margin-top: 10vw;
    background-color: white;
    width: 90%;
    margin-left: 5%;
    border-radius: 20px;
    padding: 5vw;
}
#list{
    margin-left: 5vw;
}
#abre-ano{
    font-size: large;
    display: block;
    text-decoration: none;
    color: black;
}

.mes{
    display:none;
    width: 100%;
    text-decoration: none;
    color: black;
}
.mes a{
    margin-right: -10vw;
    text-decoration: none;
    color: black;
}
.linklist{
    margin-left: 10vw;
    display: block;
    text-decoration: none;
    color: black;
}
#cinza-carro{
    width: 90%;
    margin-left: 5%;
    height: 35vw;
    margin-top:10vw;
    background-color: rgb(87, 81, 81);
    position: absolute;
    z-index: -1;
    
}
#pes{
    background-color: rgb(5, 149, 233);
}
#carro-img{
    background-image: url("/imagens/prefeitura-capa.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 80%;
    height: 50vw;
    margin-left: 9vw;
    position: absolute;
    z-index: 1;
    margin-top: -5vw;
    text-align: center;
    color: white;
}
#principal{
    margin-top: 60vw;
}
.setas{
    border: solid 1px none;
    border-radius: 50px ;
    width: 4%;
    height: 3vw;
    margin: 10px;
    margin-top: 20vw;
    background-color: rgba(255, 145, 0, 0.76);

}
#seta-esquerda{
float: left;

}
#seta-direita{
float: right;

}



}
@media(min-width:1024px){
*{box-sizing: border-box;border: 0;margin: 0;padding: 0;}
body{
background-color: rgb(176, 220, 250);

}

header{
    height: 10vw;
}
#brasao_h{
    background-image: url("/imagens/logo.png");
    background-size: cover;
    height: 6vw;
    width: 6vw;
    margin-left: 100px;
}
nav{
    height: 100px;
    background-color: rgb(5, 149, 233);
    width: 100%;
    
}
#nome{
    color: white;
    width: 200px;
    margin-left: 200px;
    margin-top: -3vw;
    font-size: 20px;
}
ul{
    background-color: rgb(5, 149, 233);
    display: flex;
    flex-wrap: nowrap;
    list-style-type: none;
    width: 30%;
    float: right;
    margin-top: -2vw;
    font-size: 20px;
}

nav ul li a{
    color: white;
    text-decoration: none;
    width: 10%;
    font-size: 20px;
}

#home{
    border-bottom:solid 1px red;
    margin: 0;
}
ul li{
    width: 20%;
    margin-left: 40px;
    text-align: center;
    
}
#btn-menu{
    float: right;
    margin-top: -20vw;
    margin-right: 2vw;
    color: rgb(56, 53, 53);
    font-size: 16vw;
    display:none;
    
}

#search_bar{
    background-color: ice;
    border-radius: 50px;
    width: 90%;
    margin-top: 10vw;
    margin-left: 5%;
    height: 3vw;
    border: solid black 1px;
    font-size: 2vw;
}

#search_bar2{
    display: none;
}
#pes{display: none;}

#cinza-carro{
    width: 90%;
    margin-left: 5%;
    height: 35vw;
    margin-top:10vw;
    background-color: rgb(87, 81, 81);
    position: absolute;
    z-index: 999;
    
}
#carro-img{
    background-image: url("/imagens/prefeitura-capa.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 80%;
    height: 50vw;
    margin-left: 9vw;
    position: absolute;
    z-index: 999;
    margin-top: -5vw;
    font-size: 50px;
    text-align: center; 
    color: white;
}
#principal{
    margin-top: 60vw;
}
.setas{
    border: solid 10px none;
    border-radius: 50px ;
    height: 60px;
    width: 60px;
    margin: 10px;
    margin-top: 20vw;
    background-color: rgba(255, 145, 0, 0.76);

}
#seta-esquerda{
float: left;

}
#seta-direita{
float: right;

}

h3{ 
    margin-top: 5vw;
    margin-left: 5vw;
    font-size: 2vw;
}
main{   
    margin-top: 6vw;
    background-color: white;
    width: 60%;
    margin-left: 5%;
    border-radius: 20px;
}
main p{
    color: black; 
    width: 90%;
    text-align: justify;
    padding: 5%;
    margin-left: 5%;
}

footer{
    position: fixed;
    background-color: white;
    right: 0;
    bottom: 0;
    z-index: 99999;
}
#links_laterais{
    margin-top: -28vw;
    background-color: white;
    width: 25%;
    margin-right: 5%;
    border-radius: 20px;
    float: right;
    height: 28vw;

}
#pantigas{
    float: right;
    margin-top: -36vw;
    margin-right: 8vw;
}
#list{
    margin-left: 5vw;
}
#abre-ano{
    font-size: 2vw;
    display: block;
    text-decoration: none;
    color: black;
    font-size: 2vw;
}

.mes{
    display:none;
    width: 100%;
    text-decoration: none;
    color: black;
    font-size: 2vw;
    margin-top: 0vw;
}
.mes a{
    margin-right: -10vw;
    text-decoration: none;
    color: black;
}
.linklist{
    margin-left: 10vw;
    display: block;
    text-decoration: none;
    color: black;
}
.text{
    font-size: 16px;
}

}


